.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: fixed;
  background: white;
  width: 300px;
  height: 200px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.close-button {
  cursor: pointer;
}