.quote-wrapper {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.input-wrapper {
  display: flex;
  justify-content: left;
  gap: 2rem; 
  width: 100%;
  margin-top: 1rem;
}

.quote-container {
  margin-top: 1rem;
}
