.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-greet {
  margin: 2rem;
  font-size:2.5rem;
}

.home-answer {
  background-color:rgb(172, 252, 252);
  padding: 1rem;
  margin: 2rem;
  border-radius: 5%;
  text-align: center;
  width: 30%;
}