#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 30rem;
  height: auto;
  will-change: filter;
  transition: all 0.69s;
  &:hover {
    filter: drop-shadow(0 0 2em #ff5100);
  }
}

.title {
  margin-top: -1rem;
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: 800;
  transition: all 0.69s;
  &:hover {
    transform: scale(1.125);
    color: #333333;
  }
}

.plus-minus {
  text-align: right;
  margin: 2rem 2rem 0rem 0rem;
  iconify-icon {
    font-size: 1.75em;
    height: 1em;
  }
}

.footer {
  iconify-icon {
    font-size: 2em;
    width: 1.1em;
    height: 0.75em;
  }
}
