#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 30rem;
  height: auto;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  &:hover {
    filter: drop-shadow(0 0 2em #ff5100);
  }
}

.title {
  font-size: 4rem;
  font-weight: 800;
  will-change: filter;
  transition: all 0.69s;
  &:hover {
    transform: scale(1.125);
    filter: drop-shadow(0 0 2em #ff5100);
    color: #333333;
  }
}

ul {
  list-style-type: none;
  padding: 0em;
  li {
    margin-bottom: 0.75em;
  }
}
