:root {
  font-family: InterVariable, Inter, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-feature-settings: "ss04" 1, "cv06" 1, "cv11" 1;
  line-height: 2;

  color-scheme: light dark;
  color: #444444;
  background-color: #ddd0c8;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #333333;
  text-decoration: inherit;
  &:hover {
    text-decoration: underline;
  }
}

body {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: "Geist Mono Variable";
  src: url(/GeistMonoVariableVF.woff2);
}

@font-face {
  font-family: "Geist Variable";
  src: url(/GeistVariableVF.woff2);
}
