.stockLogo {
  max-width: 10rem;
  max-height: 3.5rem;
  margin: 1rem;
}

.data {
  color: #eae7dd;
  text-align: left;
  font-size: 1em;
  padding-left: 2em;
}

.error-loading {
  font-family: "Geist Mono Variable", monospace, monospace;
  text-align: left;
}

#refresh-button {
  padding-top: 0.5em;
  padding-right: 0.25em;
  text-align: right;
  margin-bottom: -2em;
}

ul {
  list-style-type: none;
  padding: 0em;
  li {
    margin-bottom: 0.75em;
  }
}
